/* Global Styles */
body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        /*background-color: #f4f4f4;*/
        background-image: conic-gradient(lightgray, black,#f9f9f9);
      }
      
      figcaption{
        font-style: italic;
        color:#333333;
      }


      tbody {
        display:block;
        max-height: 300px; /* Set the maximum height for the tbody */
        overflow-y: auto; /* Add a vertical scrollbar if necessary */
        width: 500px;
        border: 2px solid black;
        border-radius: 5px;
    }

    

      .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      
      /* Section Styles */
      section {
        margin-bottom: 40px;
      }
      
      h1, h2 {
        color: #333333;
      }
      
      p {
        color:#333333;
        line-height: 1.6;
      }
      
      a {
        color: #0077cc;
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }
      
      .previous:hover{
        background-color: #ddd;
        color: black;

      }

      .previous{
        font-size: 30px;
      }

      img{
        border:2px solid black;
        border-radius: 5px;
      }

